/*reset style*/
*{
	margin: 0;
	padding: 0;
}
#header{
	width: 999px;
	height: 100px;
	background: white;
	margin: 0 auto;
}
#header .logo{
	width: 249px;
	height: 60px;
	background: floralwhite;
	float: left;
	margin: 20px 0px; 31px;
	text-align: center;
	
	color: darkorange;
	font-size: 30px; /*default: 16px;*/
	font-family: Cursive;
	font-weight: bold;
	/*font-variant: small-caps;*//*all-small-caps;small-caps;*/
	line-height: 2em;
	
	text-decoration: none;
}
#header .logo a:link{
	color: darkorange;
	text-decoration: none;
}
#header .logo a:visited{
	color: darkorange;
	text-decoration: none;
}
#header .logo a:hover{
	color: gold;
	text-decoration: none;
}
#header .logo a:activate{
	color: black;
	text-decoration: none;
}
#header .search{
	width: 249px;
	height: 31px;
	background: #f1f1f1;
	float: right;
	margin: 38px 0px 29px;
	border: 1px solid gray;
	
}
#header .search .text{
	width: 188px;
	height: 29px;
	background: #f1f1f1;
	font-size: 10px;
	float: left;
	padding-left: 16px;
	border: none;
}
#header .search .bt{
	width: 31px;
	height: 31px;
	background: url(../img/searchbt.png) no-repeat left center;
	float: right;
	border: none;
}
#header .lang{
	width: 186px;
	height: 31px;
	background: white;
	float: right;
	margin: 39px 20px 30px 0px;
	text-align: center;

	font-size: 15px; /*default: 16px;*/
	/*font-family: Cursive;*/
	font-weight: bold;
	/*font-variant: small-caps;*//*all-small-caps;small-caps;*/
	line-height: 2em;
	
	text-decoration: none;
}
#header .lang a{
	width: 120px;
	height: 31px;
	background: #f1f1f1;
	padding: 6px 20px;
	border-color: lightgray;
	border-width: 2px;
	border-style: solid;
	
}
#header .lang a:link{
	color: gray;
	text-decoration: none;
}
#header .lang a:visited{
	color: gray;
	text-decoration: none;
}
#header .lang a:hover{
	color: black;
	text-decoration: none;
	background-color: darkgray;
}
#header .lang a:activate{
	color: black;
	text-decoration: none;
}
#nav{
	width: 999px;
	height: 60px;
	background: white;
	margin: 0 auto;
	}
#nav ul{
	padding-left: 20px;
}
#nav ul li{
	width: 240px;
	height: 60px;
	background: white;
	text-align: center;
	list-style: none;
	float: left;
}
#nav ul li a{
	line-height: 60px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: darkslategray;
}
#promo{
	width: 999px;
	height: 464px;
	background: purple;
	margin: 0 auto;
}

#testimony{
	width: 999px;
	height: 547px;
	background: green;
	margin: 0 auto;
	
}

#footer{
	width: 999px;
	height: 332px;
	background: grey;
	margin: 0 auto;
	
}